<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
{% block head %}
{{ super() }}
<link
    rel="stylesheet"
    href="{{ url_for('static', filename = 'extended.beauty.css')}}"
/>
{% endblock %}
{% block content%}

<h1> Hello!!</h1>
<center>
    <img src="{{ url_for('static', filename='images/pushup.png') }}"
    alt="Pushup Guy"
    height="200px" \>
</center>

<p>
    Welcome to the Pushups Logger application<br/>
    Here I have tried to implement basic CRUD functionality and User Authentication using Flask.
</p>
{% endblock %}